.Credits {
    background: white;
    position: absolute;
    z-index: 500;
    height: 100%;
    width: 40px;
    background: white;
    transition: all 0.5s ease;
}

.CreditsText {
    color: #888;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-decoration: none;
    display: block;
    position: absolute;
    width: 300px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -150px;
    transform: rotate(-90deg);
    transition: color 0.5s ease;
}

.CreditsText a {
    color: #4493e4;
    text-decoration: none;
    transition: color 0.5s ease;
}

.CreditsText a:hover,
.CreditsText a:active {
    color: #a9c11e;
}

.Error {
    background: #2e0731;
}
.Error .CreditsText {
    color: #5e4961;
}
.Error .CreditsText a {
    color: #a92422;
}

@media (max-width: 400px){
    .Credits {
        width: 30px;
    }
    .CreditsText {
        font-size: 10px;
        height: 30px;
        line-height: 30px;
        margin-left: -149px;
    }
}