.ZipCode404 {
    position: absolute;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 200ms ease-out;
}

/* Background
-----------------------------------------------------------------------------*/

.ZipCode404Background {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url("../../assets/svg/radial-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: spin 200s 400ms linear infinite;
}

@keyframes spin{
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}

@media (max-width: 600px){
    .ZipCode404Background {
        width: 300%;
        height: 300%;
        top: -100%;
        left: calc(-100% + 20px);
    }
}


/* T Rex
-----------------------------------------------------------------------------*/

.Trex {
    width: 65%;
    max-width: 708px;
    top: 50%;
    transform: translate(-100%, -70%);
    position: absolute;
    transition: all 0.5s ease-out;
    animation: trexIn 250ms 100ms ease-out forwards;
}
@keyframes trexIn {
    from {
        transform: translate(-100%, -70%);
    }
    to {
        transform: translate(20px, -50%);
    }
}

@media (max-width: 450px){
    .Trex {
        width: 75%;
    }
}


/* Try Again
-----------------------------------------------------------------------------*/

.TryAgain {
    border: 9px solid #38093d;
    background: #f9e994;
    padding: 9px 0 12px;
    position: absolute;
    left: 50%;
    top: 50px;
    width: 344px;
    margin-left: -152px;
    line-height: 1;
    font-size: 24px;
    font-weight: 700;
    color: #a92422;
    display: block;
    opacity: 0;
    transform: translateY(-50px);
    animation: TryAgainIn 300ms 250ms ease-out forwards;
}
.TryAgain:hover {
    cursor: pointer;
    background: #fff;
}

@keyframes TryAgainIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 450px){
    .TryAgain {
        font-size: 18px;
        width: 270px;
        margin-left: -115px;
    }
}


/* Attribution
-----------------------------------------------------------------------------*/

.Attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #f9e994;
    text-align: center;
    padding: 0 0 10px;
}


.Attribution a {
    color: #f9e994;
}