.ZipCode404 {
    position: absolute;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 200ms ease-out;
    transform: translateX(-100%);
}

/* Background
-----------------------------------------------------------------------------*/

.ZipCode404Background {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background-image: url("../../assets/svg/radial-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: spin 200s 400ms linear infinite;
}

@keyframes spin{
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}

@media (max-width: 600px){
    .ZipCode404Background {
        width: 300%;
        height: 300%;
        top: -100%;
        left: calc(-100% + 20px);
    }
}


/* T Rex
-----------------------------------------------------------------------------*/

.Trex {
    width: 100%;
    height: 100%;
    padding: 140px 40px 40px 40px;
    position: absolute;
    display: flex;
}

.Trex img {
    display: block;
    max-width: 90%;
    max-height: 100%;
    align-self: center;
    margin-top: -20px;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
}

.Show .Trex img {
    animation: trexIn 250ms 100ms ease-out forwards;
}
@keyframes trexIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 400px){
    .Trex {
        padding-left: 30px;
    }
}

@media (max-height: 550px){
    .Trex {
        padding-top: 100px;
    }
}





/* Try Again
-----------------------------------------------------------------------------*/

.TryAgain {
    position: absolute;
    width: 100%;
    top: 50px;
    padding-left: 20px;
    opacity: 0;
    transform: translateY(-50px);
    animation: TryAgainIn 300ms 250ms ease-out forwards;
}
.TryAgain button {
    display: block;
    padding: 10px 15px 10px;
    margin: auto;
    border: 6px solid #38093d;
    background: #f9e994;
    font-family: 'Bangers';
    color: #a92422;
    font-size: 24px;
    line-height: 1;
    transform: scale(1.4);
    transition: all 0.2s ease-out;
}
.TryAgain button:hover {
    cursor: pointer;
    background: #fff;
    transform: scale(1.5);
}

@keyframes TryAgainIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 650px), (max-height: 550px) {
    .TryAgain button {
        transform: scale(1);
    }
    .TryAgain button:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 450px){
    .TryAgain button {
        transform: scale(0.8);
    }
    .TryAgain button:hover {
        transform: scale(0.9);
    }
}

/* Vertical */

@media (max-height: 550px){
    .TryAgain {
        top: 30px;
    }
}


/* Attribution
-----------------------------------------------------------------------------*/

.Attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #f9e994;
    text-align: center;
    padding: 0 0 10px;
}


.Attribution a {
    color: #f9e994;
}