.fadeInOut-appear,
.fadeInOut-enter {
    opacity: 0;
}

.fadeInOut-appear-active,
.fadeInOut-appear-done,
.fadeInOut-enter-active,
.fadeInOut-enter-done {
    opacity: 1;
}

.fadeInOut-exit,
.fadeInOut-exit-done {
    opacity: 0;
}