.Gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 10;
    transition: opacity 650ms 100ms ease;
}

.GradientActive {
    opacity: 1;
    z-index: 20;
}

.GradientStart {
    background: #499bea;
    background: -moz-linear-gradient(top,  #499bea 0%, #2066e5 100%);
    background: -webkit-linear-gradient(top,  #499bea 0%,#2066e5 100%);
    background: linear-gradient(150deg,  #499bea 0%,#2066e5 100%);
}

.GradientPurple {
    background: #66709b;
    background: -moz-linear-gradient(top,  #4d99e4 0%, #794750 100%);
    background: -webkit-linear-gradient(top,  #4d99e4 0%,#794750 100%);
    background: linear-gradient(150deg,  #4d99e4 0%,#794750 100%);
}

.GradientBlue {
    background: #7abaee;
    background: -moz-linear-gradient(top,  #a7dfff 0%, #4891dc 100%);
    background: -webkit-linear-gradient(top,  #a7dfff 0%,#4891dc 100%);
    background: linear-gradient(150deg, #a7dfff 0%,#4891dc 100%);
}

.GradientBlueLight {
    background: #6fd0ff;
    background: -moz-linear-gradient(top,  #6fd0ff 0%, #20a5e5 100%);
    background: -webkit-linear-gradient(top,  #6fd0ff 0%,#20a5e5 100%);
    background: linear-gradient(150deg,  #6fd0ff 0%,#20a5e5 100%);
}

.GradientOrange {
    background: #fdd238;
    background: -moz-linear-gradient(top,  #fdd238 0%, #d0e520 100%);
    background: -webkit-linear-gradient(top,  #fdd238 0%,#d0e520 100%);
    background: linear-gradient(150deg,  #fdd238 0%,#d0e520 100%);
}

.GradientRed {
    background: #ff974d;
    background: -moz-linear-gradient(top,  #ff974d 0%, #e5b120 100%);
    background: -webkit-linear-gradient(top,  #ff974d 0%,#e5b120 100%);
    background: linear-gradient(150deg,  #ff974d 0%,#e5b120 100%);
}