.WeatherResults {
    padding: 100px;
    position: relative;
}

.Weather {
    max-width: 500px;
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    color: white;
    font-size: 27px;
    margin: 0 auto 0;
    padding: 35px 40px 30px;
    text-align: center;
}

.Temperature {
    font-size: 90px;
    text-align: center;
    line-height: 1;
    padding-left: 22px;
}

.City {
    font-size: 21px;
    padding: 10px 0 0;
}

.Unit {
    font-size: 0.75em;
}

.Updated {
    font-size: 14px;
    text-align: center;
    padding: 18px 0 0;
}