.WeatherResults {
    padding: 100px 0 0;
    position: relative;
    text-shadow: 0 1px 1px hsla(0,0%,0%,0.5);
}

.Weather {
    max-width: 500px;
    background: rgba(0,0,0,0.45);
    border-radius: 5px;
    color: white;
    font-size: 10px;
    margin: 0 auto 0;
    padding: 3.5em 4em 3em;
    text-align: center;
}

.Temperature {
    font-size: 9em;
    text-align: center;
    line-height: 1;
    padding-left: 0.25em;
}

.City {
    font-size: 2.1em;
    padding: 0.5em 0 0;
}
.City:after {
    content: "";
    display: block;
    border-bottom: 1px solid hsla(0,0%,0%,0.2);
    margin: 21px auto 4px;
    width: 0;
    max-width: 240px;
    animation: cityLine 450ms 250ms ease-out forwards;
}

@keyframes cityLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.Updated {
    font-size: 1.4em;
    text-align: center;
    padding: 2.7em 0 1.2em;
}

/* Vertical */

@media (max-height: 740px){
    .WeatherResults {
        padding: 50px 0;
    }
    .Weather {
        padding: 2em 2em 0.5em;
    }
    .Temperature {
        font-size: 7.2em;
    }
    .City {
        font-size: 1.8em;
    }
    .City:after {
        margin: 13px auto 0px;
    }
    .Updated {
        padding: 1.5em 0 1.2em;
    }
}

/* Horrizontal */

@media (max-width: 700px){
    .Weather {
        width: 340px;
    }
}

@media (max-width: 700px){
    .WeatherResults {
        margin-left: 40px;
    }
}

@media (max-width: 480px){
    .WeatherResults {
        margin-left: 30px;
    }
    .Weather {
        width: 263px;
    }
    .Temperature {
        font-size: 6.0em;
    }
    .Updated {
        font-size: 1.2em;
        padding: 1.5em 0 1.2em;
    }
}
