.Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.BackgroundScreen {
    background-image: url(../../assets/images/dot-screen--3x3--black.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
}
